@import "../../style/typography";

.loader__icon {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.loader__icon-element {
  width: 33%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.loader__caption {
  @include TypographyCaption();
  text-align: center;
}

.loader__icon-element-1 {
  animation-delay: 0.2s;
}

.loader__icon-element-2 {
  animation-delay: 0.3s;
}

.loader__icon-element-3 {
  animation-delay: 0.4s;
}


.loader__icon-element-4 {
  animation-delay: 0.1s;
}

.loader__icon-element-5 {
  animation-delay: 0.2s;
}


.loader__icon-element-6 {
  animation-delay: 0.3s;
}

.loader__icon-element-7 {
  animation-delay: 0s;
}

.loader__icon-element-8 {
  animation-delay: 0.1s;
}

.loader__icon-element-9 {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
