

@mixin CuteButton($color, $color-text) {
  $color-lighten: lighten($color, 10%);
  $color-darken: darken($color, 10%);

  $height: 32px;
  $padding-vertical: 5px;
  $padding-horizontal: 15px;
  $border-radius: 8px;

  box-sizing: border-box;
  display: block;
  height: $height;
  line-height: $height - $padding-vertical * 2;
  padding: $padding-vertical $padding-horizontal;
  margin: 5px;

  background-color: $color;
  color: $color-text;

  cursor: pointer;
  user-select: none;
  border-radius: $border-radius;
  box-shadow: 0 2px 0 0 $color-darken;

  border: none;
  apperance: none;

  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: center;

  transition-timing-function: ease-in;
  transition-duration: 70ms;
  transition-property: box-shadow, transform, background-color;
  will-change: box-shadow, transform, background-color;

  &:hover, &:focus {
    background-color: $color-lighten;
  }

  &:active {
    background-color: $color-lighten;
    transform: translate3d(0, 2px, 0);
    box-shadow: 0 0 0 0 $color-darken;
  }
}