@import "../../style/variables";
@import "../../style/typography";
@import "../../style/components/CuteButton";

.blog {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blog__header {
  background-color: white;
  z-index: 1000;
  position: fixed;
  flex-shrink: 0;
  width: 100%;
  height: $header-height;

  box-shadow: $header-box-shadow;
}

.blog__navigation {
  display: flex;
  justify-content: center;
  height: calc(100% - 5px);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.blog__main {
  margin-top: $header-height;
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;

  padding-bottom: 32px;
}

.blog__heading {
  @include TypographyHeadingLarge();
  margin-top: 32px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
}

.blog__description {
  @include TypographyParagraph();
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 24px;
}

.blog__articles {

}

.blog__fade {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog__placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;

  span {
    @include TypographyCaption();
  }
}

.blog__navigation-item._Home {
  @include CuteButton($color-palette-indigo, $color-light-text-primary);
  margin: 0 $margin-inner-element;
}

.blog__navigation-item._About {
  @include CuteButton($color-palette-blue, $color-light-text-primary);
  margin: 0 $margin-inner-element;
}

.blog__navigation-item._Blog {
  @include CuteButton($color-palette-purple, $color-light-text-primary);
  margin: 0 $margin-inner-element;
}
// Animation

@keyframes blog-header-in {
  0% {
    transform: translateY(-$header-height);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blog-main-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blog-animation-enter {

  .blog__header {
    animation-name: blog-header-in;
    animation-delay: 200ms;
    animation-duration: 100ms;
    animation-timing-function: cubic-bezier(0.63, 0.41, 0.41, 1.46);
    animation-fill-mode: both;
  }

  .blog__fade {
    animation-name: blog-main-in;
    animation-delay: 0ms;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  .blog__navigation-item {
    animation-name: blog-header-in;
    animation-duration: 100ms;
    animation-timing-function: cubic-bezier(0.63, 0.41, 0.41, 1.46);
    animation-fill-mode: both;

    $first-link-delay: 500ms;

    &._Home {
      animation-delay: $first-link-delay;
      animation-duration: 300ms;
    }

    &._About {
      animation-delay: $first-link-delay + 175ms + 25ms;
      animation-duration: 150ms;
    }

    &._Blog {
      animation-delay: $first-link-delay + 75ms + 25ms;
      animation-duration: 225ms;
    }
  }
}

.blog-animation-exit {

  .blog__header {
    width: 100%;

    animation-name: blog-header-in;
    animation-delay: 325ms;
    animation-duration: 100ms;
    animation-timing-function: cubic-bezier(0.63, 0.41, 0.41, 1.46);
    animation-fill-mode: both;
    animation-direction: reverse;
  }

  .blog__fade {
    animation-name: blog-main-in;
    animation-delay: 425ms;
    animation-duration: 425ms;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: reverse;
  }

  .blog__navigation-item {
    animation-name: blog-header-in;
    animation-timing-function: cubic-bezier(0.63, 0.41, 0.41, 1.46);
    animation-fill-mode: both;
    animation-direction: reverse;

    &._Home {
      animation-delay: 75ms;
      animation-duration: 150ms;
    }

    &._About {
      animation-delay: 0ms;
      animation-duration: 150ms;
    }
  }
}