@import '../../style/mixin';
@import '../../style/variables';
@import "../../style/typography";

.blog-article {
  @include content-container();
  position: relative;
  margin-top: 64px;
  margin-bottom: 64px;
}

.blog-article__heading {
  @include TypographyHeadingMedium();
  display: block;
  margin-bottom: 4px;
  font-size: 24px;
  max-width: fit-content;
  font-weight: 600;
  letter-spacing: 2px;

  @include MediaMobile() {
    font-size: 24px;
  }
}

.blog-article__time {
  @include TypographyCaption();
  display: block;
  margin-bottom: 20px;
  color: $color-dark-text-secondary;
}

.blog-article__description {
  @include TypographyParagraph();

  display: block;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 200;

  text-align: justify;
}

.blog-article__link {
  @include TypographyLink();

  display: block;
  width: fit-content;
  padding: 5px;
  margin-left: auto;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-decoration: none;

  box-shadow: 0 0 0 0 white, 0 3px 0 0 $color-palette-light-blue;
  transition: box-shadow ease-in-out 70ms;
  will-change: box-shadow;

  &:focus, &:hover {
    box-shadow: 0 5px 0 0 white, 0 8px 0 0 $color-palette-light-blue;
  }

  &:visited {
    color: $color-palette-light-blue;
  }
}

@keyframes blog-article-animation-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blog-article-animation-enter {

  &.blog-article {
    animation-name: blog-article-animation-in;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
  }
}