@import "../../style/variables";
@import "../../style/mixin";
@import "../../style/typography";

.demo {
  display: block;
  margin-top: $margin-element;
  margin-bottom: $margin-element;
}

.demo__heading {
  @include TypographyHeadingSmall();
  font-family: sans-serif;
  font-size: 24px;
}

.demo__time {
  @include TypographyCaption();
  color: $color-dark-text-secondary;
  font-family: sans-serif;
  margin-top: $margin-atom;
  display: block;
}

.demo__description {
  @include TypographyParagraph();
  margin-top: $margin-inner-element;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: $margin-atom;
}

.demo__link {
  @include TypographyLink();
  display: block;
  text-decoration: none;
  font-family: sans-serif;
  color: $color-palette-pink;
  font-size: 16px;
  margin-left: auto;
  width: fit-content;

  &:hover, &:focus, &:active {
    color: $color-palette-light-blue;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
    animation-name: navigation-item-color;
  }
}
