$color-palette-purple: #5e35b1 !default;
$color-palette-indigo: #3949ab !default;
$color-palette-blue: #1e88e5 !default;
$color-palette-light-blue: #42a5f5 !default;
$color-palette-pink: #e91e63 !default;

$color-dark-text-primary: #212121 !default;
$color-dark-text-secondary: #616161 !default;

$color-light-text-primary: #fafafa !default;
$color-light-text-secondary: #e0e0e0 !default;

$margin-block: 32px;
$margin-element: 24px;
$margin-inner-element: 12px;
$margin-atom: 8px;
